@model EmployeeOnboardingProcess.Models.Professionalinfo

@{
    ViewBag.Title = "Create";
}

<h2>Continue with Your Work-Experience</h2>

@using (Html.BeginForm())
{
    <h3> Answer all columns compulsory </h3>
    <hr />
    <div class="row">
        <div class="col-md-3">


            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.WorkExperience, " Work Experience  ", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.WorkExperience, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.Company, "Company", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.Field_of_Experience, " Previous Experience ", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Field_of_Experience, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.Experties, " Experties  ", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Experties, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <input type="submit" value="Next" class="btn btn-default" />
                </div>
            </div>
        </div>
   </div>
}