@model EmployeeOnboardingProcess.Models.Educationinfo

@{
    ViewBag.Title = "Create";
}

<h2>Continue with Education Information</h2>

@using (Html.BeginForm())
{
    <h3> Answer all columns compulsory </h3>
    <hr />
    <div class="row">
        <div class="col-md-3">


            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.SSC_School_Name, "SSC School Name", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.SSC_School_Name, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.SSC_percentage, "SSC Percentage", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.SSC_percentage, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.SSC_Passing_Year, "SSC Passing Year", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.SSC_Passing_Year, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.HSC_College_Name, "HSC College Name", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.HSC_College_Name, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.HSC_percentage, "HSC Percentage", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.HSC_percentage, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.HSC_Passing_Year, "HSC Passing Year", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.HSC_Passing_Year, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.Degree, " Degree ", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.Degree_College_Name, "Degree College Name", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Degree_College_Name, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.Degree_percentage, "Degree Percentage", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Degree_percentage, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.Degree_Passing_Year, "Degree Passing Year", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Degree_Passing_Year, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.University, "University", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.University, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>

            <div class="from-group">
                <hr />
                @Html.LabelFor(model => model.Highest_Qualificaion, "Highest Qualification", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Highest_Qualificaion, new { htmlAttributes = new { @class = "form- control" } })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>





        </div>
    </div>
}

